<h1>Battleships</h1>

<p>
  <button (click)="onStartGame()">Start New Game</button>
</p>
<p>
  <input type="checkbox" [(ngModel)]="isCheatingEnabled"> Enable Cheating?
</p>

<div class="battlefield-wrapper" [ngClass]="{'active': inProgress}">
  <div class="row">
    <div></div>
    <div *ngFor="let row of board[0]; let index = index;">{{ROWS[index]}}</div>
  </div>
  <div *ngFor="let row of board; let x = index;" class="row">
    <div>{{x + 1}}</div>
    <div *ngFor="let cell of row; let y = index;"
         [ngClass]="{'ship': cell===1&&isCheatingEnabled,'attacked': cell===-1, 'missed': cell===0}"
         (click)="onSelectLocation(x,y)"
         class="location"><span *ngIf="isCheatingEnabled">{{cell}}</span></div>
  </div>
</div>

<p>{{log || '&nbsp;'}}</p>

<form (ngSubmit)="onShoot()" [formGroup]="shootingForm" class="shooting-wrapper" [ngClass]="{'active': inProgress}">
  <p>
    <input type="text" formControlName="location" maxlength="3" placeholder="Enter coords (e.g. A5)">
    <button type="submit" [disabled]="shootingForm.invalid">Shoot</button>
  </p>
</form>
